* {
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
}

#form-heroi {
    height: 20vh;
    width: 100%;
    background-color: #0A3E98;
    display: flex;
    flex-wrap: wrap;

}

#input-heroi {
    height: 3vh;
    border-radius: 10px;
    text-align: center;
    border: solid 1px white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#button-heroi {
    height: 3vh;
    border-radius: 7px;
    cursor: pointer;
    background-color: aliceblue;
    border: solid 1px aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#div-heroi {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.subdiv-herois {
    border-radius: 10px;
    margin: 1%;
    background-color: red;
    padding: 15%;
    background-image: url(locked.webp);
    background-size: 100%;
    transition: ease-in 0.1s;

}

#texto-exp {
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


/*  */

@media(min-width:300px) {
    * {
        font-size: 14px;
    }

    #form-heroi {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #input-heroi {
        font-size: 14px;
        width: 90%;
    }

    #button-heroi {
        width: 80%;
    }

    #texto-exp {
        padding: 2%;

    }



    .subdiv-herois {
        padding: 35%;
    }
}

@media(min-width:375px) {
    .subdiv-herois {
        padding: 28%;
    }

}

@media(min-width:768px) {
    #form-heroi {
        flex-direction: row;
    }

    #input-heroi {
        width: 40%;
        font-size: 14px;
    }

    #button-heroi {
        width: 30%;
        font-size: 14px;
    }

    #div-heroi {
        flex-direction: row;
    }

    .subdiv-herois {

        padding: 14%;
    }
}
@media (orientation:landscape){
    #input-heroi{
        height: 5vh;
    }
    #button-heroi{
        height: 5vh;
    }
}