* {
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
}

#form-heroi {
    height: 20vh;
    width: 100%;
    background-color: #0A3E98;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#input-heroi {
    width: 45%;
    height: 21%;
    margin-right: 2vh;
    border-radius: 10px;
    text-align: center;
    border: solid 1px white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#button-heroi {
    height: 22%;
    width: 25%;
    border-radius: 7px;
    cursor: pointer;
    background-color: aliceblue;
    border: solid 1px aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#div-heroi {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.subdiv-herois {
    border-radius: 10px;
    margin: 1%;
    background-color: red;
   padding: 15%;
    background-image: url(locked.webp);
    background-size: 100%;
    transition: ease-in 0.1s;

}

#texto-exp{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}